body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: bold;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.jumbotron {
  background: #9575cd;
  color: floralwhite;
  margin: 0px auto;
  padding: 70px 30px 70px 30px;
}

.row-about {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.our-history {
  padding: 25px 0px 70px 0px;
  border-bottom: 1px ridge;
}

.col-history h2 {
  font-weight: bold;
}

.col-leadership-corporate {
  padding: 50px 0px 50px 0px;
}

.col-corporate h2 {
  font-weight: bold;
}

.footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  background-color: #d1c4e9;
}

.address {
  margin: 0px;
  color: #0f0f0f;
  font-size: 80%;
}
